{{ define "main" }}

<section class="about" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-me">

                    <div class="row">
                        <div class="col-lg-12 pt-4 pt-lg-0">
                            <h3>KLAUZULA OBOWIĄZKU INFORMACYJNEGO</h3>

                            <p>
                                Administratorem Twoich danych osobowych przetwarzanych w celu objęcia Cię świadczoną opieką zdrowotną jest Fizjoterapia Katarzyna Połyniak z siedzibą w Kaźmierzu przy ul. Dworcowej 31, dalej: ,,Administrator’’ w rozumieniu art. 4 ust. 7 Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE, dalej: ,,RODO’’.
                            </p>
                            <p>
                                Jeśli chcesz skontaktować się z nami w sprawach związanych z przetwarzaniem Twoich danych osobowych możesz to zrobić za pośrednictwem adresu korespondencyjnego lub pod adresem e-mail: polyniakkatarzyna@gmail.com.
                            </p>

                            <h3>Zakres i cel przetwarzanych danych osobowych</h3>
                            <p>
                                Twoje dane osobowe przetwarzane są w celu objęcia Ciebie opieką zdrowotną w ramach wykonywanego przez fizjoterapeutę świadczenia. Twoje dane osobowe przetwarzane są w następującym zakresie: imiona, nazwisko, płeć, data urodzenia, numer PESEL (w przypadku jego braku rodzaj i numer dokumentu potwierdzającego tożsamość), adres zamieszkania, w przypadku osoby małoletniej również dane opiekuna prawnego oraz dane o stanie Twojego zdrowia oraz udzielonych Ci świadczeniach. Możemy przetwarzać również w celach kontaktowych Twój adres e-mail oraz numer telefonu jednakże podanie tych danych nie jest dla Ciebie obligatoryjne.
                            </p>
                            <p>
                                Prowadzimy dla Ciebie dokumentację medyczną, która zawiera wszystkie informacje dotyczące Twojego stanu zdrowia oraz świadczeń. Jest to niezbędne dla postawienia diagnozy i poprowadzenia w sposób właściwy Twojego procesu leczenia.
                            </p>
                            <p>
                                Twoje dane osobowe przetwarzane są przez Administratora w oparciu o:
                                <ul>
                                    <li>art. 6 ust. 1 lit. b i c oraz art. 9 ust. 2 lit. h RODO w zw. z  art. 25 pkt 1 Ustawy o prawach pacjenta oraz § 10 ust. 1 pkt 2 Rozporządzenia MZ w ramach właściwej rejestracji i udzielania świadczeń zdrowotnych;</li>
                                    <li>art. 9 ust. 2 lit. h  RODO w zw. z  art. 24 ust. 1 Ustawy o prawach pacjenta oraz Rozporządzenia MZ w ramach prowadzenia Twojej dokumentacji medycznej;</li>
                                    <li>art. 6 ust. 1 lit. b oraz f RODO, jako tzw. prawnie uzasadniony interes administratora, jakim jest kontakt w sprawie przypomnienia o wizycie, jej przełożeniu oraz informacji o wynikach prowadzonej konsultacji.</li>
                                    <li>art. 6 ust. 1 lit. b, c i f RODO oraz w zw. z  ustawą z dnia 29 września 1994 r. o rachunkowości mamy prawo przetwarzać Twoje dane również w celu dochodzenia ewentualnych roszczeń z uwagi na prowadzoną działalność lub obrony przed nimi a także w celach podatkowych.</li>
                                </ul>
                            </p>

                            <h3>Profilowanie oraz przekazywanie danych do państw trzecich</h3>
                            <p>
                                Profilowanie polega na tym, iż na podstawie zgromadzonych o Tobie informacji jesteśmy uprawnieni do tworzenia profili preferencji naszych pacjentów, których dane osobowe znajdują się w naszych bazach. W oparciu o to dostosowujemy nasze usługi oraz kierowane do Ciebie komunikaty. Każdorazowo działanie to odbywa się wraz z ingerencją człowieka, nie w sposób automatyczny. Pamiętaj, że możliwość niepodlegania automatycznym decyzjom w tym zakresie jest Twoim podstawowym uprawnieniem z którego możesz skorzystać w każdej chwili.
                            </p>
                            <p>
                                Administrator może korzystać z usług podmiotów zewnętrznych dostarczających usługi niezbędne dla prawidłowej realizacji świadczeń zdrowotnych a w związku z tym Twoje dane osobowe mogą być przekazywane poza teren Unii Europejskiej np. w przypadku serwisowania oprogramowania informatycznego. Zapewniamy, że przekazywanie danych zabezpieczone zostanie w sposób właściwy m.in. w oparciu o stosowną umowę zawierającą standardowe klauzule przyjęte przez Komisję Europejską.
                            </p>

                            <h3>Podaje moje dane osobowych dobrowolnie czy obowiązkowo?</h3>
                            <p>
                                Podanie przez Ciebie danych osobowych jest w pełni dobrowolne jednakże ich nie podanie może skutkować odmową umówienia wizyty czy nawet samego świadczenia zdrowotnego. Administrator świadcząc usługi z zakresu fizjoterapeutycznego jest zobowiązany do prowadzenia dokumentacji medycznej w sposób określony przepisami prawa, w tym do oznaczenia tożsamości pacjenta z wykorzystaniem jego danych osobowych. Nie podanie numeru telefonu oraz adresu e-mail nie wpływa na udzielanie świadczenia zdrowotnego chociaż w wielu przypadkach usprawnia to w stopniu znaczącym komunikację i jakość świadczonych usług.
                            </p>

                            <h3>Czas przez jaki przetwarzamy Twoje dane osobowe</h3>
                            <p>Pamiętaj, że jeśli korzystasz z naszych usług Twoje dane osobowe będą przetwarzane przez administratora co najmniej przez okres 20 lat od dnia dokonania wpisu w Twojej dokumentacji medycznej. Dodatkowo dane te mogą być przez nas przetwarzane w celu dochodzenia roszczeń przez okres wynikający z przepisów prawa cywilnego oraz z uwagi na względy podatkowe  przez 5 lat liczonych od końca roku kalendarzowego, w którym powstał obowiązek podatkowy. Po upływie wyżej wymienionych okresów Twoje dane są usuwane lub poddawane anonimizacji</p>

                            <h3>Informacja o przysługujących Ci prawach</h3>
                            <p>Administrator zapewnia Ci prawo dostępu do Twoich danych, możesz je również sprostować, żądać ich usunięcia lub ograniczenia ich przetwarzania. Możesz także skorzystać z uprawnienia do złożenia wobec Administratora sprzeciwu wobec przetwarzania Twoich danych oraz prawa do przenoszenia danych do innego administratora danych.</p>
                            <p>
                                Informujemy także, że przysługuje Ci prawo wniesienia skargi do organu nadzorującego przestrzeganie przepisów ochrony danych osobowych tj. możesz ją złożyć do Prezes UODO korespondując na wskazany poniżej adres:

                                <br><br>
                                Urząd Ochrony Danych Osobowych
                                <br>
                                ul. Stawki 2
                                <br>
                                00 - 193 Warszawa
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}