{{ define "main" }}

<section class="about" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-me">

                    <div class="row">
                        <div class="col-lg-12 pt-4 pt-lg-0">
                            <h3>Fizjoterapia Ortopedyczna</h3>

                            <p>Obejmuje diagnostykę i leczenie zachowawcze problemów układu ruchu – dolegliwości powstałych w wyniku przeciążeń i urazów, a także zaburzeń układu ruchu w przebiegu chorób przewlekłych. Dzięki odpowiednio prowadzonej fizjoterapii można pozbyć się uciążliwych dolegliwości bólowych, powrócić do sprawności i aktywności fizycznej.</p>
                            <p>Wskazania do terapii:
                                <ul>
                            <li>bóle i zwroty głowy</li>
                            <li>ostre i przewlekłe bóle kręgosłupa</li>
                            <li>zespoły przeciążeniowe kręgosłupa i stawów obwodowych</li>
                            <li>urazy i przeciążenia tkanek miękkich, np. zerwania i naderwania ścięgien, więzadeł, zespoły przeciążeniowe (łokieć tenisity, golfisty)</li>
                            <li>rehabilitacja po urazach: po złamaniach, skręceniach, urazach tkanek miękkich (np. zerwanie ścięgna Achillesa, ścięgien mięśni stożka rotatorów)</li>
                            <li>rehabilitacja po zabiegach ortopedycznych : np. zabiegi operacyjne kręgosłupa, endoprotezoplastyka stawu biodrowego i kolanowego, rekonstrukcja więzadła ACL, usunięcie łąkotki, i inne.</li>
                            <li>w przebiegu chorób przewlekłych: np. choroba zwyrodnieniowa stawów, reumatoidalne zapalenie stawów, zesztywniające zapalenie stawów kręgosłupa, i inne.</li>
                        </ul>
                            </p>

                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-12 pt-4 pt-lg-0">
                            <h3>Fizjoterapia Neurologiczna</h3>

                            <p>Rehabilitacja neurologiczna koncentruje się na leczeniu pacjentów z zaburzeniami w obrębie ośrodkowego i obwodowego układu nerwowego. Poprzez indywidualnie dostosowane programy terapeutyczne, fizjoterapia neurologiczna pomaga pacjentom w osiągnięciu maksymalnego potencjału funkcjonalnego i poprawie zdolności do samodzielnego funkcjonowania.</p>

                            <p>Wskazania do terapii:
                                <ul>
                            <li>udar mózgu</li>
                            <li>uraz czaszkowo-mózgowy</li>
                            <li>stwardnienie rozsiane</li>
                            <li>uraz rdzenia kręgowego</li>
                            <li>choroba Parkinsona</li>
                            <li>uszkodzenie nerwów obwodowych</li>
                            <li>operacje neurochirurgiczne</li>
                            <li>i inne.</li>
                                </ul>
                            </p>

                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-12 pt-4 pt-lg-0">
                            <h3>Fizjoterapia Stomatologiczna</h3>

                            <p>Fizjoterapia stomatologiczna zajmuje się badaniem funkcjonalnym i leczeniem zaburzeń narządu żucia, do których należą staw skroniowo-żuchwowy, mięśnie żucia oraz układ nerwowy koordynujący ich pracę. Badaniu i terapii poddaje się również odcinek szyjny kręgosłupa, który ściśle współpracuje z narządem żucia.</p>

                            <p>Wskazania do terapii:
                                <ul>
                            <li>ból podczas jedzenia i ziewania</li>
                            <li>zaciskanie zębów</li>
                            <li>bruksizm</li>
                            <li>bóle w obrębie twarzy i głowy</li>
                            <li>szumy uszne, bóle ucha</li>
                            <li>zaburzenia nerwów czaszkowych, np. neuralgia nerwu trójdzielnego</li>
                        </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ end }}