{{ define "main" }}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">
          <img class="actor mb-3" style="float: left; padding-right: 15px;" src="{{ .Site.Params.authorThumb | absURL}}" alt="image">
          <h3>Katarzyna Połyniak – fizjoterapeutka, instruktorka Animal Flow.</h3>

          <p>W 2013 r. ukończyłam studia magisterskie na Uniwersytecie Medycznym  im. Karola Marcinkowskiego w Poznaniu na kierunku <strong>Fizjoterapia</strong>. W czasie studiów zdobywałam doświadczenie na licznych praktykach na oddziałach szpitalnych oraz wolontariatach, wykonując terapię u osób startujących w maratonach  i triathlonach.</p>

          <p>W 2013 roku rozpoczęłam pracę w Szpitalu Ortopedyczno-Rehabilitacyjnym im. Wiktora Degi w Poznaniu na Oddziale Rehabilitacji z pododziałem rehabilitacji neurologicznej, gdzie zdobywałam doświadczenie w terapii pacjentów z zaburzeniami ośrodkowego i obwodowego układu nerwowego. W tym samym szpitalu pracowałam również na Oddziale Dziennego Pobytu, co pozwoliło mi na zapoznanie się z szerokim spektrum problemów ortopedycznych.</p>

          <p>W 2018 r. rozpoczęłam pracę w Centrum Rehabilitacji Med-Lux w Przeźmierowie, gdzie dalej zdobywałam doświadczenie kliniczne pracując z pacjentami ze schorzeniami ortopedycznymi i neurologicznymi.</p>

          <p>Od 2018 r. prowadzę <strong>własną praktykę fizjoterapeutyczną</strong> pomagając pacjentom w poprawie sprawności fizycznej.</p>

          <p>Prywatnie jestem osobą bardzo aktywną. Swoją przygodę z aktywnością sportową rozpoczęłam od baletu i akrobatyki sportowej już w wieku dziecięcym. W ten sposób  narodziła się moja pasja do ruchu i poprawy sprawności fizycznej. Obecnie ćwiczę siłowo, biegam, jeżdżę na rowerze oraz trenuję Animal Flow. 4 lata treningów zaowocowało zdobyciem certyfikatu Instruktora Animal Flow Level 1 w 2023r.</p>

          <h3>Certyfikaty:</h3>

          <p>
            <a href="{{ "images/certyfikaty/1.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/1_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/2.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/2_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/3.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/3_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/4.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/4_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/5.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/5_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/6.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/6_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/7.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/7_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/8.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/8_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/9.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/9_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/10.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/10_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/11.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/11_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/12.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/12_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/13.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/13_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/14.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/14_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/15.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/15_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/16.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/16_thumb.jpeg" | absURL }}"></a>
            <a href="{{ "images/certyfikaty/17.jpeg" | absURL }}"><img src="{{ "images/certyfikaty/17_thumb.jpeg" | absURL }}"></a>
          </p>

          <h3>Szkolenia podyplomowe:</h3>
          <ul>
            <li>Od 2020 r. Akademia OMT, Polskie Stowarzyszenie Ortopedycznej Terapii Manualnej</li>
            <li>2023 r. “Reconciling Biomechanics with Pain Science”, Greg Lehman, PhD</li>
            <li>2023 r. “Deconstructing non-specific lower back pain”, dr Mark Laslett</li>
            <li>2022 r. Fascial Distortion Model (FDM) – Leczenie zaburzeń układu mięśniowo-szkieletowego technikami powięziowymi, moduł I i II, Stefan Anker, MSc, PT, D.O.</li>
            <li>2021 r. Suche igłowanie w Ortopedycznej Terapii Manualnej, Miłosz Parachimowicz, MSc., PT-OMT</li>
            <li>2020 r. Integracyjna Terapia Blizn, mgr Katarzyna Młotek</li>
            <li>2017 - 2019 r. Terapia Manualna wg Szkoły Niemieckiej, Ernest Wiśniewski, PT, MSc, OMT</li>
            <li>2015 r. Mulligan’s Concept, C.J. Stolz, MCSP</li>
            <li>2015 -2016 r.– Diagnozowanie i Leczenie Zespołów Bólowych Kręgosłupa i Kończyn metodą McKenziego , mgr Rajmund Tomaczakowski, dr Tomasz Stengert</li>
            <li>2014 r. Proprioceptive Neuromuscular Facilitation (PNF), Beate Mari Selker, PT, IPNFA Advanced Instructor</li>
            <li>2013 r. Masaż Głęboki, dr Jarosław Ciechomski</li>
          </ul>

          <h3>Konferencje i warsztaty:</h3>
          <ul>
            <li>2018 r. Kongres „Physio Update. Fizjoterapia Neurologiczna i Onkologiczna.”</li>
            <li>warsztat „PNF i dysfunkcje nerwów obwodowych”</li>
            <li>warsztat „Stymulacja pacjentów z niedowładami połowiczymi po usunięciu guza mózgu”</li>
            <li>2017 r. III Congres of PNF in Poland “PNF for everyday life”</li>
            <li>Warsztat “Reedukacja ruchu zgięcia i rotacji zewnętrznej w stawie łopatkowo-ramiennym u pacjentów po udarze mózgu”</li>
            <li>2016 r. IX International Poznań Course In Upper Extermity Surgery: Shoulder and Elbow</li>
            <li>2013 r. VI Ogólnopolska Konferencja „Medycyna Sportowa”</li>
            <li>2011 r. IV Konferencja Naukowa „Medycyna Sportowa”</li>
            <li>2011 – warsztat „Człowiek z blizną – zintegrowany program leczenia”, mgr Małgorzata Chochołowska</li>
            <li>2011 – warsztat „Diagnostyka punktów spustowych”, dr n. med. Marcin Wytrążek</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}