{{ define "main" }}

<section class="about" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-me">

          <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0">
              <h3>Terapia Manualna</h3>
              <img src="{{ "images/metody-terapeutyczne/manualna.jpg" | absURL }}" class="float-left pr-2" style="width: 350px;" alt="Terapia Manualna">

              <p>To metoda fizjoterapii służąca do leczenia odwracalnych zaburzeń układu ruchu. Terapia manualna obejmuje badanie, rozpoznanie, ocenę i leczenie zaburzeń nerwowo-mięśniowo-szkieletowych.</p>
              <p>Terapeuta za pomocą specjalistycznych testów ortopedycznych i manualnych stara się wyłonić strukturę dającą pierwotne objawy. Następnie uwzględniając wszelkie przeciwskazania, fazę gojenia tkanek i wrażliwość danej struktury na działanie bodźców fizycznych, ustala indywidualny plan leczenia.</p>
              <p>Techniki lecznicze obejmują techniki tkanek miękkich, mobilizacje i manipulacje stawowe, neuromobilizacje oraz funkcjonalny trening medyczny.</p>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-lg-12 pt-4 pt-lg-0">
              <h3>PNF – Proprioceptywne Nerwowo-Mięśniowe Torowanie</h3>
              <img src="{{ "images/metody-terapeutyczne/pnf.jpg" | absURL }}" class="float-left pr-2" style="width: 350px;" alt="PNF">

              <p>To metoda leczenia, której celem jest osiągnięcie najwyższego możliwego poziomu funkcjonalnego pacjenta. Każdy zabieg kierowany jest do człowieka jako całości, a nie skupia się tylko na pojedynczym problemie lub części ciała.</p>
              <p>Jedną z głównych zasad metody jest pozytywne podejście. Proponowana pacjentowi terapia powinna być bezbolesna i oparta na osiągalnych celach. W ich realizacji terapeuta bazuje na wykorzystaniu  silniejszych części ciała, aby pobudzić do działania te bardziej osłabione.</p>
              <p>Metoda PNF znalazła zastosowanie w rehabilitacji różnych schorzeń ortopedycznych, neurologicznych oraz w korekcji wad postawy. Dzięki zindywidualizowanemu podejściu, fizjoterapeuci mogą dostosować program leczenia do konkretnych potrzeb pacjenta, przyspieszając proces rekonwalescencji. Dla pacjentów oznacza to szansę na szybszą i skuteczniejszą rehabilitację, przywracającą im pełnię aktywnego życia.</p>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-lg-12 pt-4 pt-lg-0">
              <h3>Suche igłowanie</h3>
              <img src="{{ "images/metody-terapeutyczne/suche-iglowanie.jpg" | absURL }}" class="float-left pr-2" style="width: 350px;" alt="Suche Igłowanie">

              <p>Suche igłowanie, znane również jako sucha igłoterapia lub dry needling, jest techniką terapeutyczną wykorzystywaną w celu łagodzenia bólu i poprawy funkcji mięśniowej. Polega na wprowadzaniu cienkich igieł do mięśnia, w celu uwalniania napięć mięśniowych i redukcji bólu.</p>
              <p>W przeciwieństwie do akupunktury, która ma korzenie w medycynie chińskiej, suche igłowanie oparte jest na wiedzy z zakresu anatomii i neurofizjologii. Suche igłowanie działa na mechanizmy przewodzenia bólu, stymuluje lokalne przekrwienie oraz zmniejsza napięcie mięśniowe związane z obecnością tzw. punktów spustowych (punktów o zwiększonej wrażliwości w napiętym paśmie mięśnia szkieletowego).</p>
              <p>Suche igłowanie jest często stosowane w terapii dysfunkcji mięśniowo-szkieletowych, takich jak bóle kręgosłupa, bóle głowy, zespoły przeciążeniowe, czy też zespoły bólowe pochodzenia neurologicznego.</p>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-lg-12 pt-4 pt-lg-0">
              <h3>Elektrostymulacja</h3>
              <img src="{{ "images/metody-terapeutyczne/elektrostymulacja.jpg" | absURL }}" class="float-left pr-2" style="width: 350px;" alt="Elektrostymulacja">

              <p>Elektrostymulacja polega na aplikowaniu kontrolowanych impulsów elektrycznych do konkretnych grup mięśniowych, które wymagają stymulacji lub wzmocnienia. Elektrody są umieszczane na skórze wokół obszaru dotkniętego kontuzją lub zaburzeniem, a następnie wysyłane są impulsy elektryczne, które wywołują skurcze mięśni.</p>
              <p>Elektrostymulacja wspomaga odbudowę siły i funkcji mięśniowej po okresach unieruchomienia (np. po długotrwałej hospitalizacji) oraz po urazach, takich jak złamania, skręcenia czy naderwania. Może być stosowana również w okresach unieruchomienia, aby ograniczyć spadek siły mięśniowej. W niektórych przypadkach EMS może pomóc w zmniejszeniu dolegliwości bólowych poprzez zmniejszenie napięcia mięśniowego i poprawę krążenia krwi w obszarze dotkniętym urazem.</p>
              <p>Oferuję elektrostymulację z wykorzystaniem elekrostymulatora Compex 8.0, którego funkcje opierają się na technologii MI
                <ul>
                  <li>Mi-Scan – automatycznie dostosowuje parametry stymulatora do pobudliwości danego obszaru</li>
                  <li>Mi-Action – polega na sprzężeniu pracy mięśni z mikrocyklami podczas zabiegu elektrostymulacji. Mikrocykl elektrostymulacji rozpocznie się tylko po aktywnym napięciu mięśni. Trening może być celowany w konkretny efekt, np. jeśli chcemy pobudzić włókna szybko-kurczliwe podczas ćwiczenia funkcjonalnego</li>
                  <li>Mi-Tens  - ułatwia dostosowanie poziomu stymulacji, aby uzyskać optymalny efekt przeciwbólowy (ogranicza niepożądane skurcze występujące w przypadku ustawienia zbyt wysokiej intensywności stymulacji)</li>
                  <li>Mi-AutoRange – określa optymalny poziom elektrostymulacji podczas programów typu masaż czy regeneracja</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}