{{ define "main" }}

<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="contact-information">
          <h2>{{ .Title }}</h2>
          <ul>
            <li><h3>Poznań</h3></li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <p>ul. Iłłakowiczówny 7/6, Poznań <br />(wejście do budynku z tyłu podwórza z szyldem Rehacare)</p>
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>
              <a href="tel:{{ .Site.Params.authorPhone }}">Telefon: {{ .Site.Params.authorPhone }}</a>
            </li>
            <li><i class="fa fa-money" aria-hidden="true"></i>
              <p>Cena za wizytę: 150zł</p>
            </li>
            <li><h3>Szamotuły</h3></li>
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <p>ul. Braci Czeskich 15, Szamotuły</p>
            </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>
              <a href="tel:{{ .Site.Params.authorPhone }}">Telefon: {{ .Site.Params.authorPhone }}</a>
            </li>
            <li><i class="fa fa-money" aria-hidden="true"></i>
              <p>Cena za wizytę: 140zł</p>
            </li>
          </ul>
        </div>
          <h3>Pierwsza wizyta - Jak się przygotować?</h3>
        <p>Ubierz się wygodnie lub weź wygodne ubranie na zmianę, które zapewni Ci komfort podczas wizyty i nie będzie krępowało ruchów.</p>
        <p>W trakcie badania oceniany jest cały układ ruchu, a techniki diagnostyczno-terapeutyczne wymagają bezpośredniego dostępu do skóry pacjenta.</p>
        <p>Przychodząc na pierwszą wizytę nie potrzebujesz skierowania lub innych badań dodatkowych, ale jeśli posiadasz  dokumentację medyczną, zabierz ją ze sobą. Weź ze sobą również dokument tożsamości.</p>

        <h3>Wywiad</h3>
        <p>Pierwszym etapem wizyty jest wywiad, podczas którego opiszesz mi problem, z którym się zgłaszasz, oraz oczekiwania względem terapii.</p>
        <p>Zadam Ci pytania dotyczące obecnych dolegliwości (gdzie są zlokalizowane, kiedy się pojawiły, o aktywności/pozycje nasilające i łagodzące dolegliwości), wcześniejszych urazów, chorób współistniejących i przyjmowanych leków (warto zapisać je na kartce 😉).</p>

        <h3>Badanie Funkcjonalne</h3>
        <p>Badanie ma na celu ocenę Twojego układu ruchu i obecnych ograniczeń jego funkcji.</p>
        <p>Testy kliniczne mogą na chwilę sprowokować Twoje dolegliwości.</p>
        <p>Badanie funkcjonalne umożliwia postawienie hipotezy klinicznej – najbardziej prawdopodobnych przyczyn problemu.</p>

        <h3>Terapia</h3>
        <p>Jeżeli Twój stan zdrowia pozwala na przeprowadzenie leczenia zachowawczego przejdziemy do terapii, celowanej na przyczyny i skutki zgłaszanego przez Ciebie problemu.</p>
        <p>Na koniec wizyty odpowiem na wszystkie nurtujące Cię pytania i wątpliwości, omówię przebieg terapii i przestawię dalsze zalecenia dotyczące planu leczenia.</p>


      </div>
      <div class="col-lg-5">
        <div class="contact-information">
          <a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/katarzyna-polyniak/fizjoterapeuta/poznan" rel="nofollow" data-zlw-doctor="katarzyna-polyniak" data-zlw-type="big" data-zlw-opinion="true" data-zlw-hide-branding="true" data-zlw-saas-only="false">Katarzyna Połyniak - ZnanyLekarz.pl</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
        </div>
      </div>
    </div>
  </div>
</section>



{{ end }}